# Default ignored files
/shelf/
/workspace.xml
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/

# Базовые папки
/.idea
/.git
/*__pycache__*
/venv

# Конфигурационные файлы
/secret_keys.env
/database
/log
/temp

# Тестовые данные
/*test*